{% extends 'base.html' %}
{% load static %}
{% load handel_delay %}


{% block title %}
    our team
{% endblock %}


{% block content %}
    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Dentist</h5>
                        <h1 class="display-6 mb-4">Meet Our Certified & Experienced Dentist</h1>
                        <a href="{% url 'appointment:make-appintment' %}"
                           class="btn btn-primary py-3 px-5">Appointment</a>
                    </div>
                </div>
                {% for dr in doctor %}
                    <div class="col-lg-4 wow slideInUp" data-wow-delay="{{ forloop|delay }}">
                        <div class="team-item">
                            <div class="position-relative rounded-top" style="z-index: 1;">
                                <img class="img-fluid rounded-top w-100" src="{{ dr.img.url }}"
                                     alt="">
                                <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                    <a class="btn btn-primary btn-square m-1" href="{{ dr.telegram }}"><i
                                            class="fab fa-telegram fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square m-1" href="{{ dr.linkedin }}"><i
                                            class="fab fa-linkedin-in fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square m-1" href="{{ dr.instagram }}"><i
                                            class="fab fa-instagram fw-normal"></i></a>
                                </div>
                            </div>
                            <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5 align-items-center align-content-center">
                                <h4 class="mb-2"><a class="text-dark" href="{% url 'doctor:doctor-detail' dr.id %}">
                                    Dr. {{ dr.name }} {{ dr.last_name }}
                                </a></h4>
                                <p class="text-primary mb-0">{{ dr.expert }}</p>
                                <p class="text-primary mb-0">in time: {{ dr.in_time }}- out time {{ dr.out_time }}
                                </p>
                                <!-- star rating -->
                             <span class="fa fa-star {% if 1 <= dr.id|rate %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if 2 <= dr.id|rate %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if 3 <= dr.id|rate %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if 4 <= dr.id|rate %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if 5 <= dr.id|rate %}checked{% endif %}"></span>
                                <!-- star rating end-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/rating.js' %}"></script>
    <!-- Team End -->

{% endblock %}